.lookup {
    display: grid;
    justify-items: stretch;
    justify-content: center;
    grid-auto-columns: 2em;
}

.standout {
    margin: auto;
    text-align: center;
    padding: 1em;
}

.lookup>div {
    justify-self: center;
}

.standout > input {
    width: 20em;
}

input.inline{
    width: 2em;
}

.lookup div.row {
    width: 100%;
    height: 100%;
    text-align: center;
}

.plain {
    background: rgba(255, 238, 255, 0.5);
}

.key {
    background: rgba(255, 255, 238, 0.5);
}

.message {
    background: rgba(238, 255, 255, 0.5);
}